---
layout: default
---
  <div id="crumbs"><h4>
    <a href="software.html" style="color:#2c70c2;"><--- Software Development</a> <span class="delimiter" style="color:#2c70c2;">  /  </span> 
    <a href="presentations.html" style="color:#2c70c2;">Academic Presentations ---></a>
  </h4>
  </div>
    <article class="post hentry format-image">
    <header class="entry-header">
    <h2>Concert Works</h2>
    <br/>
    </header>
    <div class="entry-content-center">
        {% for item in site.data.composition %}
        <p><strong><i>{{item.title}},</i></strong> for {{item.instrument}}, {{item.year}}<br/>
          {% if item.performed %}<i> performed at {% for itm in item.performed %}{% if item.performed.size > 1 and forloop.last == true %}and {% endif %}{{itm.facility}}{% if itm.city %}, {{itm.city}}{% endif %}{% if itm.state %}, {{itm.state}}{% endif %}, {{itm.date}}{% if forloop.last == false %}; {% else %}{% endif %}{% endfor %}</i>{% endif %}
        </p>
        {% endfor %}
    </div>
    
  </article>