<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>Allen S.C. Wu</title>
<link rel="shortcut icon" href="style/images/icon-audio.png"/>
<link rel="stylesheet" type="text/css" href="style.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/css/view.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/type/marketdeco.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/type/merriweather.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/type/Monserrat.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/type/QuattrocentoSans.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/type/Amble.css" media="all" />
<link rel="stylesheet" type="text/css" href="style/css/queries.css" media="all" />

<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="style/css/ie9.css" media="all" />
<![endif]-->
<script type="text/javascript" src="style/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="style/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="style/js/html5.js"></script>
<script type="text/javascript" src="style/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="style/js/selectnav.js"></script>
<script type="text/javascript" src="style/js/twitter.min.js"></script>
<script type="text/javascript" src="style/js/playsound.js"></script>

<audio id="scifi1" src="style/sounds/vintagescifi.mp3" preload="auto"></audio>
<audio id="lechute1" src="style/sounds/Lechuteclip1.mp3" preload="auto"></audio>
<audio id="fight" src="style/sounds/fight.mp3" preload="auto"></audio>
<audio id="chase" src="style/sounds/chase1.mp3" preload="auto"></audio>
<audio id="axono" src="style/sounds/axono.mp3" preload="auto"></audio>

</head>