<!DOCTYPE HTML>
<html lang="en-US">
	{% include head.html %}

<body>
	<div id="page" class="hfeed">
		<div id="wrapper">
			{% include header.html %}

			<div id="main">

				<div id="primary">
				  <div id="content" role="main">
				 		{{ content }}
				  <!-- end article -->
					</div><!-- #content -->
				</div><!-- #primary -->
			</div><!-- #main -->
			<div id="site-generator">
				© Copyright 2021 - Allen S.C. Wu - All rights reserved.
			</div>
		</div><!-- #wrapper -->
	</div><!-- #page -->

<script type="text/javascript" src="style/js/scripts.js"></script>
</body>
</html>