<!DOCTYPE HTML>
<html lang="en-US">
	{% include head.html %}

<body>
<div id="page" class="hfeed">
<div id="wrapper">
	{% include header.html %}

<div id="main">

<div id="primary">
  <div id="content" role="main">
 <!--  
  <div class="intro">Hello! Welcome to my blog. I'm <strong>Allen S.C. Wu</strong>, a skillful experienced composer who discovers music and sounds with infinite possibilities and great power to touch the audience.</p></div>
  
 -->  <!-- begin article -->
 		{{ content }}
  <!-- end article -->
	</div><!-- #content -->
</div><!-- #primary -->
</div><!-- #main -->
		<div id="site-generator">
			© Copyright 2021 - Allen S.C. Wu - All rights reserved.
		</div>
	</div><!-- #wrapper -->
</div><!-- #page -->

<script type="text/javascript" src="style/js/scripts.js"></script>
</body>
</html>