@font-face {
    font-family: 'Amble';
    src: url('amble/Amble-Regular.ttf') format('truetype');
    src: url('amble/Amble-Regular.ttf') format('truetype'),
     url('amble/Amble-Regular.ttf') format('truetype'),
     url('amble/Amble-Regular.ttf') format('truetype'),
     url('amble/Amble-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

